.text-pink{
    color: #EE4467;
}

.d{
    display: inline-block;
}

.bg-pink{
    background-color: #EC4568;
}

.bg1{
    background-color: #C48DF2;
}

.bg2{
    background-color: #F17992;
}

.bg3{
    background-color: #6BC2F7;
}